.center {
    width: 50%;
    margin-left: 20%;
}

.container {
    background-color: #DDDDDD;
    padding: 1em;
}

.count {

}

.PERSON {
    background-color: #FF4136;
}

.LOCATION {
    background-color: #55acee;
}

.ORGANIZATION {
    background-color: #2ECC40;
}

.annotation {
    background-color: #AAAAAA;
    z-index: 10;
    position: relative;
}

li {
    display: inline;
}