.center {
    width: 50%;
    margin-left: 20%;
}

.container {
    background-color: #f7f7f7;
    padding: 1em;
    border-style: solid;
    border-width: thin;
    border-color: #dfe3ee;
    border-radius: 1%;
}

.count {

}

.PERSON {
    background-color: #B0E2FF;
}

.LOCATION {
    background-color: #9AFF9A;
}

.ORGANIZATION {
    background-color: #FFB6C1;
}

.annotation {
    background-color: #AAAAAA;
    z-index: 10;
    position: relative;
}

li {
    display: inline;
    padding: 4px;
}

body {
    background-color: #f7f7f7;

}

.info {
    margin-bottom: 1%;
    text-align: center;
    width: 52%;
    border-style: solid;
    border-width: thin;
    border-color: #dfe3ee;
    border-radius: 3%;
}
